/* estilo a pie de pag.*/
footer{ 
    background-color: black;
    text-decoration: none;
}
.copyright{
    margin-right: 36%;
    margin-top: 0.5rem;
}
/*estilo a pie de pagina*/
address{ 
     display: flex;
     justify-content: right;  
}
/*logo de redes en pie de pagina */
address a.red{
    font-size: 1.8rem ;
    margin-right: 2rem;
    color:rgb(248, 3, 3)
}
a.nav-link{
    margin-top: 0.5rem;
    padding-right: 2rem;
}
