/* estilo atodos los  titulos*/
.container h4{
    overflow-y: hidden;
    color:rgb(224, 255, 47)  
}
/*estilo a todas las secciones*/
section{
    margin-top: 5rem;
}
/* estilo a los titulos de cada seccion desde sobre mi hasta proyectos*/
.text-fluid {
    margin: 0 4%;
    overflow-y: hidden;
    color:rgb(0, 255, 0)
}
/*estudios*/
.card-body ul{
    padding-left: 0;
}
.card-text {
    color:rgb(61, 58, 58) ;
    font-family: cursive;
}
.card-text a{
    color:rgb(61, 58, 58) ;
    font-family: cursive;
}
.card-text a:hover{
    color: rgb(152, 240, 240);
}
.col-sm-4 ul li img{
    border-radius: 0%;
   width: auto;  
}