 <!--educaccion-->
 <div class="accordion-item img-fondo">
    <!--este es el boton-->
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        <i class="fa-solid fa-graduation-cap m-1"></i> Educación
      </button>
    </h2>
    <!--este es el formulario-->
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordion">
      <div class="accordion-body img-fondo">
        <div class="row">
          <div class="col-sm-6">
         <app-form-primaria></app-form-primaria>
          </div>
          <div class="col-sm-6">
            <app-form-secundaria></app-form-secundaria>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
           <app-form-curso></app-form-curso>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
  </div>
