  <!-- seccion de proyectos-->
<section id="proyectos">
  <h4 class="text-fluid mb-5">
    <a class="nav-link" [href]="enlaceMenu">
      <i class="fa-solid" [ngClass]="iconFlecha"></i>
    </a>{{seccion|uppercase}}</h4>
    
    <div class="container text-light">
      <div class="row">
       <span class="text-light">{{titulo|uppercase}} {{fecha}}</span>

        <div class="col-sm-6" *ngFor="let proyecto of proyectos">
          <div class="card">
            <img [src]="proyecto.foto" [alt]="proyecto.alt" class="img-fluid">
            <div class="card-body text-light">
              <p class="card-text">{{proyecto.descripcion}}</p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </section>
