/*color a la barra de navegacion y menu*/
.container-fluid{
    background-color: black;
}/*  estilo al logo y menu*/
.navbar-brand{
    margin-top: 0;
    display:flex ;  
}
/*este es del logo solo*/
.navbar-brand img{
    border-radius: 1rem;
    width: 3rem; 
    height: 2.5rem;  
}
/* estilo a las redes*/
ul #redes{
    padding-left: 0%;
}
#redes li{
    display: inline;  
}
#redes li a{
    margin-right: 0.5rem;
    font-size: 1.7rem;
    text-decoration: none;
    color:rgb(255, 0, 0)
}
#redes li a:hover{
    color:rgb(112, 112, 116);
}
