<app-navbar></app-navbar>
<div class="row">
  <div class="col-1 p5"></div>
  <div class="col-10 p-5 img-fondo">
    <!--acordeon-->
    <section id="dashboard" class="dashboard ">
      <div class="accordion" id="accordion">
        <!--redes-->
        <app-redes-sociales></app-redes-sociales>
        <!-- banner y img de fondo-->
        <app-banneryfondo></app-banneryfondo>
        <!--sobre mi-->
        <app-acercade-mi></app-acercade-mi>
        <!--experiencia laboral-->
        <app-expe-laboral></app-expe-laboral>
        <!--educaccion-->
        <app-educacion></app-educacion>
        <!--habilidades-->
        <app-skills></app-skills>
        <!--proyectos-->
        <app-mi-proyecto></app-mi-proyecto>
        <!--contactos-->
        <app-contacto></app-contacto>
      </div>
    </section> 
  </div>
  <div class="col-1 p-5"></div>
</div>
  
